
body{
    font-family:"adobe-caslon-pro";
    background-color:#e5eaee;
    font-size: 1.1em ;
    text-transform: none;
    letter-spacing: 0.1em;
    font-style: normal;
    color: #252525;
    margin-left:0%;
    margin-right: 0%;
    margin-top:-10px;
    padding-top: 0px;
    line-height: 1.2em;
   

}
    
h1{
    text-align: center-end;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color:rgb(160, 117, 117)
  }
  .fa-github {

    color:  rgb(160, 117, 117)
}
  .fa-instagram{
    color:  rgb(160, 117, 117)
} 
  
  .fa-linkedin{
    color: rgb(160, 117, 117)
}
  
  .social{
      text-align: center;
      background-color: aliceblue;
      margin-left:0%;
  }
  picture{
      float:left;
      top:0px;
      margin-right: 4%;
      width:600px;
      height:430px
      
  }
  a{
      color:rgb(160, 117, 117)
    }
  