
body{
    font-style: italic;
    background-color:beige;
    text-align: center;
}
nav{
    display: flex;
}
nav>ul{
    margin-right: 20%;
    flex-direction: row
}
nav>ul>li{
    background-color: beige;
    color:beige;
}
nav>ul>li>a:hover{
    color: bisque

}
.container{
    position:absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    background-image:url("")
    background-repeat:no-repeat;
    background-size:cover;
  }
  #overlay{
    position:fixed;
    overflow:auto;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    right:opx;
    bottom:0px;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:2px;
  }