
body{
    font-style: italic;
    background-color:white;
    padding:10px;
    border: 2px;
    font-size: 2em ;
    color:grey

}

h1{
    text-align: center-end;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: rgb(175, 30, 180);
  }
  .fa-github {

    color:  rgb(175, 30, 180);
  }
  .fa-instagram{
    color:  #af1eb4; 
  }
  .fa-linkedin{
    color:  rgb(175, 30, 180);
  }
  .social{
      text-align: center;
  }
  #image{
      background-image: url('/home/wecode/Downloads/profolio.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      width: 50%;
      float:left;
      margin-right: 5px;
      margin-bottom: 3px;
      
  }
  a{
      color: rgb(175, 30, 180)
  }